In [ ]:
import pandas as pd
df = pd.read_csv("nyc_weather.csv")

In [ ]:
df["EST"]

In [ ]:
df.fillna(0,inplace=True)

In [ ]:
df.EST[df["Events"]=="Rain"]    
df

In [ ]:
df[df["Events"]!= 0] , df["EST"], df["Humidity"]!= 0

In [ ]:
df.describe()

In [ ]:
df
df[["EST","Temperature"]][df.Temperature == df.Temperature.max()]

In [ ]:
df.set_index('EST',inplace=True)
df

In [ ]:
df.reset_index(inplace=True)
df

In [ ]:
df.set_index("Events",inplace=True)
df

In [ ]:
df.reset_index(inplace=True)
df

In [ ]:
df.set_index('WindSpeedMPH',inplace=True)
df

In [3]:
import pandas as pd
weather_data = {
    'no':[1,2,3],
    'name':["a","b","c"],
    'add':[1,5,6]
}

gf = pd.DataFrame(weather_data)
gf

   no name  add
0   1    a    1
1   2    b    5
2   3    c    6

In [5]:
data = [
    (1,'yo','1113W'),
    (2,'xo','1114W'),
    (3,'zo','1115W')
]
df = pd.DataFrame(data, columns=["no","co","address"])
df

   no  co address
0   1  yo   1113W
1   2  xo   1114W
2   3  zo   1115W

In [7]:
dat = [
    {"num":1,"add":"113W"},
    {"num":2,"add":"114W"}
]
df = pd.DataFrame(dat)
df

   num   add
0    1  113W
1    2  114W