In [3]:
import pandas as pd
df = pd.read_csv("stock_data.csv")
df

  GOOGL          27.82   87   845     larry page
0   WMT           4.61  484    65           n.a.
1  MSFT             -1   85    64     bill gates
2  RIL   not available   50  1023  mukesh ambani
3  TATA            5.6   -1  n.a.     ratan tata

In [17]:
af = pd.read_csv('stock_data.csv',header=None, names=["name","price","f","g","person"], na_values={'price':["n.a.","not available"],'f':["n.a.","not available",-1],'g':["n.a.","not available",-1]})
af

    name  price      f       g         person
0  GOOGL  27.82   87.0   845.0     larry page
1    WMT   4.61  484.0    65.0           n.a.
2   MSFT  -1.00   85.0    64.0     bill gates
3   RIL     NaN   50.0  1023.0  mukesh ambani
4   TATA   5.60    NaN     NaN     ratan tata

In [10]:
df2 = pd.read_csv('stock_data.csv', nrows=3, header=None, names=["name","price","f","g","person"])
df2

    name  price    f    g      person
0  GOOGL  27.82   87  845  larry page
1    WMT   4.61  484   65        n.a.
2   MSFT  -1.00   85   64  bill gates

In [22]:
df2.to_csv("new.csv")
df2

TypeError: 'int' object is not iterable